// Here you can add other styles
.blue {
    // color:#00BFFF;
    color: #38ACEC;
}
.bgblue {
    // color:#00BFFF;
    background-color: #38ACEC;
}

.bgyellow1 {
    // color:#00BFFF;
    background-color: #FFC100;
}
.violet{
    background-color: #DB7093;
}

.light-gray{
    background-color: #778899;
}

.sky-blue{
    background-color: #87CEEB;
}

.tomato{
    background-color: #FF6347;
}

.brown{
    background-color: #8B4513;
}
.bgcolor5{
    background-color: #07b393;
}

.green{
    color: green;
}
.bggreen {
    background-color: #2eb85c;
}

.bgred {
    background-color: red;
}

.bgyellow {
    background-color: #f8a611;
}

.bgcyan1 {
    background-color: #b1524fec;
}

.red {
    color: red;
}

.inputborderradius {
    border-radius: 15px;
}

//custom image upload button
.div {
    padding: 5px 10px;
    background: #3b3f4b;
    border: 1px solid #3b3f4b;
    position: relative;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    float: left;
    cursor: pointer;
    // margin-top: 20px;
    width: 100%;

}

.hide-file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.cyan {
    // color: cyan;
    color: #861F41;

}

.cyanfont {
    // color: cyan;
    color: #861F41;

}

.bgcyan {
    background-color: #3b3f4b;
}

.whitewithbgcolor {
    color: white;
    background-color: #861F41;

}

.whitewithbggreencolor {
    color: white;
    background-color: #90ee90;

}

.white {
    color: white;
}

.width100 {
    width: 100%;
}

.my-table {
    border: 1px solid #3b3f4b !important;
    //border-top: 1px solid #861F41;
    // border-collapse: collapse;
}

.my-table1 {

    border: 1px solid #67dff5;
    // border-collapse: collapse;
    border-top: 1px solid #3b3f4b;
    border-collapse: collapse;
    border-top-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
//   .left-addon .glyphicon  { left:  0px;}
.right-addon .fa {
    right: 0px;
}

/* add padding  */
//   .left-addon input  { padding-left:  30px; }
.right-addon input {
    padding-right: 30px;
}

//modal color change
.modal-primary .modal-header {
    background-color: #861F41;
    color: #fff;

}

.modal-primary .modal-content {
    border-color: #861F41;
}

//other document upload imagespart

.fileContainer .uploadPictureContainer img.uploadPicture {
    height: 250px !important;
}

//image
.fileContainer p {
    display: none;
}

//modal row border
.rowborder {
    border: 4px solid #861F41 !important;

}

.colrightborder {
    border-right: 4px solid #861F41 !important;
}

//increasing the modal width in cuatomer part no details
// .increasedmodalwidth{
//     width:950px !important;

// }
.fontweight {
    font-weight: bold;
}

.textaligncenter {
    text-align: center;
}

//borders for td
tr.borderfortr td {
    border: 1px solid blue;
    border-top: 1px solid blue;
    border-radius: 20px;
    border-collapse: collapse;
}

.print-page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    // border: 1px #D3D3D3 solid;
    // border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.print-subpage {
    // padding: 1cm;
    // border: 1px red solid;
    // border: 1px #8f9092 solid;

    height: 257mm;
    // outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    @page {
        size: landscape
    }
}

@media print {

    // html, body {
    //     width: 210mm;
    //     height: 297mm;        
    // }
    .print-page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}


//landscape
.print-page-landscape {
    width: 297mm;
    min-height: 210mm;
    padding: 15mm;
    margin: 10mm auto;
    // border: 1px #D3D3D3 solid;
    // border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.print-subpage-landscape {
    // padding: 1cm;
    // border: 1px red solid;
    // border: 1px #8f9092 solid;

    height: 170mm;
    // outline: 2cm #FFEAEA solid;
}

//no use
// @page {
//     .print-page-landscape{
//         size: A4 landscape;
//     margin: 0;  
//     }

// }
@media print {

    // html, body {
    //     width: 210mm;
    //     height: 297mm;        
    // }
    .print-page-landscape {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
        // transform: rotate(270deg) translate(-276,0);
        // transform-origin: 0 0;
    }
}

// page[size="A4"][layout="landscape"]{
//     width:297mm;
//     height: 210mm;
// }
// to make the loading image come in center
.loadingimage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
}

// Here you can add other styles
.blue {
    // color:#00BFFF;
    color: #38ACEC;

}

.bgcolor {
    background-color: #3b4b64;
}

.bgcolor1 {
    background-color: #303d50;
}

.bggreen {
    background-color: #2eb85c;
}

.bgred {
    background-color: red;
}

.bgyellow {
    background-color: #f8a611;
}

.bgcyan1 {
    background-color: #b1524fec;
}

.red {
    color: red;
}

.inputborderradius {
    border-radius: 15px;
}

//custom image upload button
.div {
    padding: 5px 10px;
    background: #3b3f4b;
    border: 1px solid #3b3f4b;
    position: relative;
    color: #fff;
}

.blue {
    //  color:#00BFFF;
    color: #38ACEC;

    // background-color:#00bfff;

}

.faipending {
    //  color:#00BFFF;
    background-color: #ad237f;
}

.bgblue {
    //  color:#00BFFF;
    // color:#38ACEC;

    background-color: #38ACEC;

}

.pink {
    //  color:#00BFFF;
    // color:#38ACEC;

    background-color: #ff0066;

}

.purple {
    // color:#00BFFF;
    background-color: #8000ff;

}

.purplec {
    // color:#00BFFF;
    color: #8000ff;

}

.orgclr {
    // color:#00BFFF;
    background-color: #e64a24e3;

}

.white {
    color: white;

}

.orgclr1 {
    // color:#00BFFF;
    background-color: #f7c4b8e3;

}

.lightpurple {
    // color:#00BFFF;
    background-color: #bf00ff;

}

.lightgreen {
    // color:#00BFFF;
    background-color: #00cc99;

}

.darkpink {
    // color:#00BFFF;
    background-color: #b300b3;

}

.yellow {
    // color:#00BFFF;
    background-color: #b38600;

}

.marron {
    // color:#00BFFF;
    background-color: #990000;

}

.bggreen {
    background-color: #2eb85c;
}

.bgred {
    background-color: rgb(199, 7, 7);
}

.bgyellow {
    background-color: #f8a611;
}

.red {
    color: red;
}

.bgred1 {
    background-color: #c70404;
}

.inputborderradius {
    border-radius: 15px;
}

//custom image upload button
.div {
    padding: 5px 10px;
    background: #3b3f4b;
    border: 1px solid #3b3f4b;
    position: relative;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    float: left;
    cursor: pointer;
    // margin-top: 20px;
    width: 100%;

}

.hide-file {
    width: 100%;

}

.hide-file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.cyan {
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.cyan {
    // color: cyan;
    color: #861F41;

}


.cyanfont {
    // color: cyan;
    color: #861F41;

}

.bgcyan {
    background-color: #861F41;
}

.whitewithbgcolor {
    color: white;
    background-color: #861F41;

}

.whitewithbggreencolor {
    color: white;
}

.bgcyan {
    background-color: #861F41;
}

.fill {
    background-color: #3b435a;
    width: auto;
    height: auto;
}

.bgblue1 {
    background-color: #0842f1;
}

.bgclr {
    border-color: #000000;
}


.whitewithbgcolor {
    color: white;
    background-color: #861F41;

}

.whitewithbggreencolor {
    color: white;
    background-color: #90ee90;

}

.white {
    color: white;
}

.width100 {
    width: 100%;
}

.my-table {
    border: 1px solid #3b3f4b !important;
}

.whitewithbluecolor {
    color: white;
    background-color: #37BEFF;

}

.whitewithredcolor {
    color: white;
    background-color: red;

}

.whitewithorangecolor {
    color: white;
    background-color: orange;

}

table.rs-table-bordered {
    border: 1px solid #c00000;
    margin-top: 20px;
}


table.rs-table-bordered>tr>th {
    border: 1px solid black;
}

table.rs-table-bordered>tbody>tr>td {
    border: 1px solid black;
}



// .ck-editor__editable {
//     min-height: 100px;
// }




// .table-bordered td, .table-bordered th{
//     border-color: black !important;
// }

.white {
    color: white;
}

.width100 {
    width: 100%;
}

.my-table {
    border: 1px solid #3b3f4b !important;
    //border-top: 1px solid #861F41;
    // border-collapse: collapse;
}

.my-table-border {
    display: table;
    width: 100%;
    margin-bottom: 1rem;
    border: white;
    border-top: 1px solid #ffffff;
    text-indent: initial;
    border-spacing: 2px;
    border-collapse: separate;
    border-top-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.my-table1 {

    border: 1px solid #3b3f4b;
    // border-collapse: collapse;
    border-top: 1px solid #3b3f4b;
    border-collapse: collapse;
    border-top-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
//   .left-addon .glyphicon  { left:  0px;}
.right-addon .fa {
    right: 0px;
}

/* add padding  */
//   .left-addon input  { padding-left:  30px; }
.right-addon input {
    padding-right: 30px;
}

//modal color change
.modal-primary .modal-header {
    background-color: #861F41;
    color: #fff;

}

.modal-primary .modal-content {
    border-color: #861F41;
}

//other document upload imagespart

.fileContainer .uploadPictureContainer img.uploadPicture {
    height: 250px !important;
}

//image
.fileContainer p {
    display: none;
}

//modal row border
.rowborder {
    .breakAll {
        word-break: break-all;
    }
}

.my-table1 {

    border: 1px solid #080e0f;
    //border-collapse: collapse;
    border-top: 1px solid black;
    border-collapse: collapse;
    border-top-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

// .tablebr, td, th {
//     border: 1px solid black;
//     border-collapse: collapse;
//   }

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
//   .left-addon .glyphicon  { left:  0px;}
.right-addon .fa {
    right: 0px;
}

/* add padding  */
//   .left-addon input  { padding-left:  30px; }
.right-addon input {
    padding-right: 30px;
}

//modal color change
.modal-primary .modal-header {
    background-color: #861F41;
    color: #fff;

}

.modal-primary .modal-content {
    border-color: #861F41;
}

//other document upload imagespart

.fileContainer .uploadPictureContainer img.uploadPicture {
    height: 250px !important;
}

//image
.fileContainer p {
    display: none;
}

//modal row border
.rowborder {
    border: 4px solid #861F41 !important;

}

.colrightborder {
    border-right: 4px solid #861F41 !important;
}

.rowborderbarcode {
    border: 1px solid black !important;

}

.colrightborder {
    border-right: 4px solid #861F41 !important;
}

.colrightborderbarcode {
    border-right: 1px solid black !important;
}

.colrightborderbarcodeheader {
    border-right: 1px solid black !important;
    height: "48px"

}

.colbottomborder {
    border-bottom: 1px solid black !important;
}

.rowborderchecklist {
    border: 1px solid #861F41 !important;

}


.fontweight {
    font-weight: bold;
}

.textaligncenter {
    text-align: center;
}

//borders for td
tr.borderfortr td {
    border: 1px solid blue;
    border-top: 1px solid blue;
    border-radius: 20px;
    border-collapse: collapse;
}

.print-page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    // border: 1px #D3D3D3 solid;
    // border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.print-subpage {
    // padding: 1cm;
    // border: 1px red solid;
    // border: 1px #8f9092 solid;

    height: 257mm;
    // outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    @page {
        size: landscape
    }
}

@media print {}

// html, body {
//     width: 210mm;
//     height: 297mm;        
// }
.fontweight {
    font-weight: bold;
}

.textaligncenter {
    text-align: center;
}

//borders for td
tr.borderfortr td {
    border: 1px solid blue;
    border-top: 1px solid blue;
    border-radius: 20px;
    border-collapse: collapse;
}



.print-page-barcode {
    width: 210mm;
    min-height: 297mm;
    // padding: 20mm;
    // margin: 10mm auto;
    // border: 1px #D3D3D3 solid;
    // border-radius: 5px;
    // background: white;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.barcode-font-size {
    font-size: 10px;
}
.inner-addonn {
    position: relative;
}

/* style glyph */
.inner-addonn .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
//   .left-addon .glyphicon  { left:  0px;}
.right-addonn .fa {
    right: 0px;
}

/* add padding  */
//   .left-addon input  { padding-left:  30px; }
.right-addonn input {
    padding-right: 0px;
}


@media print {}

.bggreenprint {
    visibility: visible;
    //  -webkit-print-color-adjust: exact !important;
    background-color: hsl(120, 100%, 25%);
    color: white;

}

#hide123quota {
    display: none;
}

.tablefontsize {
    font-size: 10px;
}

.print-page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
}




//landscape
.print-page-landscape {
    width: 297mm;
    min-height: 210mm;
    padding: 15mm;
    margin: 10mm auto;
    // border: 1px #D3D3D3 solid;
    // border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.print-subpage-landscape {
    // padding: 1cm;
    // border: 1px red solid;
    // border: 1px #8f9092 solid;

    height: 170mm;
    // outline: 2cm #FFEAEA solid;
}

//no use
// @page {
//     .print-page-landscape{
//         size: A4 landscape;
//     margin: 0;  
//     }

// }
@media print {

    // html, body {
    //     width: 210mm;
    //     height: 297mm;        
    // }
    .print-page-landscape {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
        // transform: rotate(270deg) translate(-276,0);
        // transform-origin: 0 0;
    }
}

// page[size="A4"][layout="landscape"]{
//     width:297mm;
//     height: 210mm;
// }
// to make the loading image come in center
.loadingimage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
}

.print-page-barcode {
    // margin: 0; 
    page-break-after: always;

    // background-color:green;
}




// to make the loading image come in center
.loadingimage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .widthofinput {
        margin-left: 100px;
    }
}



@media only screen and (min-width: 712px) and (max-width: 1138px) {
    .widthofinputinmodal {
        width: 500px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 576px) {
    .fontsize {
        font-size: 10px;
    }

    .ml40 {
        margin-left: -40px;
    }
}